# Default owner

* @mnaimfaizy

# Security-sensitive files and directories

/.github/workflows/ @mnaimfaizy
/.github/dependabot.yml @mnaimfaizy
/.github/CODEOWNERS @mnaimfaizy
/package.json @mnaimfaizy
/yarn.lock @mnaimfaizy
/.npmrc @mnaimfaizy
/.yarnrc.yml @mnaimfaizy
/pnpm-workspace.yaml @mnaimfaizy
/SECURITY.md @mnaimfaizy
/docs/SECURITY/ @mnaimfaizy
